.form {
    display: flex;
    flex-direction: column;
    width: 504px;
    label {
        margin-top: 15px;
    }
    &__input, &__textarea {
        padding: 13px 20px 13px 20px;
        width: 440px;
        height: 50px;
        background: rgba(240, 139, 152, 0.05);
        border: 2px solid rgba(240, 139, 152, 0.3);
        box-sizing: border-box;
        border-radius: 100px;
        &:focus {
            outline: none;
            border: 2px solid #F08B98;
            border-radius: 100px;
        }
        &_little {
            width: 195px;
        }
    }
    &__textarea {
        width: 440px;
        height: 246px;
        resize: none;
        border-radius: 25px;
        &:focus {
            outline: none;
            border: 2px solid #F08B98;
            border-radius: 25px;
        }
    }
    &__policy {
        margin-top: 13px;
        display: flex;
    }
    &__text {
        margin-left: 12px;
        font-size: 12px;
        line-height: 16px;
        width: 407px;
    }
    &__check {
        width: 20px;
        height: 20px;
        border: 2px solid #F08B98;
    }
    &__button {
        margin-top: 10px;
        opacity: 0.2;
    }
}